.the_numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262626;
  border-radius: 40px;
  padding: 50px;
}

.the_numbers {
  margin-bottom: 20px;
}
.the_numbers__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.the_numbers__text h2 {
  font-size: 38px;
  line-height: 59px;
  font-weight: 700;
  color: #ffffff;
  font-family: "EuclidCircularA", sans-serif;
  text-transform: uppercase;
}
.the_numbers__text p {
  font-family: "EuclidCircularA", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  opacity: 0.8;
}
.the_numbers__number {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.the_numbers__number li {
  width: 100%;
}
.the_numbers__number h2 {
  font-family: "EuclidCircularA", sans-serif;
  font-size: 38px;
  line-height: 59px;
  font-weight: 700;
  color: rgb(1, 238, 191);
  text-transform: uppercase;
}
.the_numbers__number p {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
.the_numbers__items {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.the_numbers__item {
  width: 220px;
  height: 100px;
  border-radius: 18px;
  background: #2c2c2c;
  margin: 18px 18px;
}
.the_numbers__button {
  width: 100%;
  background: linear-gradient(127deg, rgb(0, 223, 237) 0%, rgb(0, 255, 133) 96%);
  border-radius: 18px;
  color: black;
  padding: 30px 0px;
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.services {
  background: #f9fafb;
  border-radius: 40px;
  padding: 50px 100px 50px 100px;
  margin-top: 70px;
}
.services h2 {
  font-family: "EuclidCircularA", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 50px 0px;
  line-height: 59px;
}
.services_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.services_item {
  padding: 30px 20px;
  margin: 10px 0px 10px 0px;
  max-width: 335px;
  border-radius: 27px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  background: #ffffff;
}
.services_item h3 {
  font-family: "EuclidCircularA", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #01eebf;
  text-transform: uppercase;
  line-height: 24px;
}
.services_item p {
  font-family: "EuclidCircularA", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  line-height: 21px;
  text-transform: uppercase;
  margin: 20px 0px 30px 0px;
}
.services_item span {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: black;
  line-height: 21px;
  opacity: 0.8;
}

.the_numbers__button {
  margin-bottom: 50px;
}

.expertise {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 0px;
}
.expertise_header {
  margin: 20px;
}
.expertise_header h2 {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 59px;
}
.expertise_header p {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  line-height: 24px;
  opacity: 0.8;
}
.expertise__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}
.items h3 {
  font-family: "EuclidCircularA", Arial, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.55;
  margin: 50px 0px 20px 0px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 373px;
  max-height: 284px;
  min-height: 204px;
  height: auto;
}
.item img {
  width: 157px;
  height: 60px;
  border: 1px solid rgba(128, 128, 128, 0.6);
  border-radius: 12px;
}
.item h4 {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 21px;
  color: black;
  margin: 15px 0px;
}
.item p {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 21px;
  opacity: 0.8;
}

.unique {
  height: auto;
  max-height: 284px;
  min-height: 244px;
}

.swiper_block {
  display: flex;
  flex-direction: column;
  background: #262626;
  border-radius: 40px;
  padding: 100px 100px 150px 100px;
  min-width: 0;
}

.swiper-container {
  margin: 10px 0px;
  width: 50%;
  height: 225px;
}

.swiper-container:hover {
  cursor: pointer;
}

.cursor_animathion {
  background: #414141;
  border-radius: 5px;
  width: 70px;
  height: 40px;
}
.cursor_animathion img {
  width: 40px;
  height: 40px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  padding: 30px 20px;
  background: #2c2c2c;
  border-radius: 27px;
  width: 704px;
  min-width: 704px;
  height: 225px;
  margin-right: 20px;
}
.swiper-slide p {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: white;
  opacity: 0.8;
  margin: 0px 20px;
}

.swiper__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}
.swiper__header h2 {
  font-family: "EuclidCircularA", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 59px;
}

.slider__item-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.user__info {
  display: flex;
  flex-direction: row;
}
.user__name {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.user__name img {
  margin: 10px;
  width: 100px;
  height: 17px;
}
.user__name h4 {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0px 0px 0px 10px;
}
.user__name span {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  line-height: 18px;
  opacity: 0.8;
  margin: 8px 0px 0px 10px;
}
.user__date p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px;
  color: #ffffff;
  opacity: 0.4;
}

.input__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input__items {
  position: relative;
  top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input__items h2 {
  font-family: "EuclidCircularA", Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 59px;
  margin: 50px 0px;
}
.input__item {
  max-width: 768px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.input__item input {
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 18px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  width: 300px;
  height: 76px;
  padding: 0px 20px 0px 20px;
  margin: 10px 20px;
}
.input__item p {
  font-family: "EuclidCircularBold", Arial, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 21px;
  opacity: 0.8;
  text-align: center;
  max-width: 355px;
}
.input__item a {
  cursor: pointer;
  font-weight: 700;
  color: rgb(7, 177, 151);
}
.input__button {
  padding: 0px 15px;
  width: 374px;
  font-weight: 500;
  height: 76px;
  color: black;
  font-size: 16px;
  font-family: "EuclidCircularBold";
  cursor: pointer;
  background: #01eebf;
  border-radius: 18px;
  margin: 20px;
}

.buble_img {
  position: relative;
  top: 30px;
  left: -470px;
  z-index: -1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #262626;
  border-radius: 40px;
  width: 100%;
  margin: 20px 0px;
}
.footer_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "EuclidCircularBold", Arial, sans-serif;
  margin: 10px 30px 20px 120px;
}
.footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px 0px 50px;
}
.footer__info {
  margin: 50px 50px 50px 50px;
}
.footer__info img {
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
}
.footer__info p, .footer__info a {
  color: #01eebf;
  font-size: 18px;
  font-family: "EuclidCircularBold", sans-serif;
  font-weight: 500;
  line-height: 1.55;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 16px;
  margin: 50px 50px 0px 50px;
}
.footer__links img {
  background: #3d3d3d;
  border-radius: 30px;
  padding: 5px;
  margin: 20px;
}
.footer__button {
  padding: 15px 100px;
  font-size: 14px;
  line-height: 1.55;
  color: black;
  font-weight: 500;
  border-radius: 12px;
  background: linear-gradient(127deg, rgb(1, 238, 191) 20%, rgb(0, 223, 237) 100%);
}
.footer__text {
  color: white;
  opacity: 0.5;
  font-family: "EuclidCircularBold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin: 0px 50px 50px 50px;
}

.social_link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social p {
  color: white;
  font-family: "EuclidCircularBold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */